# Created by .ignore support plugin (hsz.mobi)
.idea/
creditcard1/myconfig.py
creditcard1/__pycache__/
creditcard1/h5/
creditcard1/log/
creditcard2/myconfig.py
creditcard2/__pycache__/
creditcard2/h5_deep_server/
creditcard2/log/

peopleflow/
traffic/
trash/h5/
trash/log/
trash/__pycache__/
trash/assets/
creditcard2/h5/
trash/h5_dell/
